@model User

<div class="text-center">
	<h1 class="display-4">@Model.UserName</h1>
	<h1 class="display-4">@Model.Email</h1>
	<h1 class="display-4">@Model.Name</h1>
	<h1 class="display-4">@Model.Surname</h1>
	<h1 class="display-4">@Model.Age</h1>
</div>
